
<h2>RegisterPop</h2>

<!--<form>-->
<h2>Registrarse </h2>
<table>
    <tr>
        <td id="tableCong">
            <input type="text" name="user" id="user" class="form-control" placeholder="Usuario" required="" autocomplete="off">
        </td>

    </tr>

    <tr>

        <td id="tableCong">
            <input type="text" name="name" id="name" class="form-control" placeholder="Nombre completo" required="" autocomplete="off">
        </td>

    </tr>

    <tr>

        <td id="tableCong">
            <input type="email" name="email" id="email" class="form-control" placeholder="Correo electrónico" required="" autocomplete="off">
        </td>

    </tr>

    <tr>

        <td id="tableCong">
            <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required="" autocomplete="off">
        </td>

    </tr>

    <tr>

        <td id="tableCong">
            <button class="submit-btn form-control" onclick="return Add()" id="buttonLog">Ingresar</button>
        </td>

    </tr>
    <!--</form>-->
</table>

